@{
    //CSHARP content
    ViewBag.Title = "Home Page";
}

<!--a 'row' is a container for making grid decisions inside of-->
<div class="row">
    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />               <!--This is the input for our date-->
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control"/>               <!--This is the input for our location-->
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success"/> <!--This is a button-->
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>
    </div>
</div>
