@{
    //CSHARP content
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFcwuGMtzFVpSrNLBYa5qw5WZnJzPMHv0"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}
<!--a 'row' is a container for making grid decisions inside of-->
<div class="row" ng-app="app-trips">
    <!--ng-app tells angular to run in this container-->
    <!--vm is databinding so we can access it-->
    <div ng-view></div> <!--find and use the ng-view and use that as the placeholder for when views are injected onto the page-->
</div>
